<% wrap_layout :inner do %>
  <% content_for(:custom_share) do %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="<%= image_url("og-image-large.png") %>"/>
  <% end %>
  <% content_for :sidebar do %>
    <h4><a href="/docs/cdktf/index.html">CDK for Terraform</a></h4>

    <ul class="nav docs-sidenav">
      <li>
        <a href="/docs/cdktf/index.html">What is CDK for Terraform?</a>
      </li>

      <li>
        <a
          href="https://learn.hashicorp.com/tutorials/terraform/cdktf-install?in=terraform/cdktf"
          >Get Started
          <img
            src="/assets/images/outbound-link.svg"
            width="20"
            height="20"
            aria-hidden="true"
            style="vertical-align: text-bottom"
        /></a>
      </li>

      <li>
        <a href="#">Concepts</a>
        <ul class="nav">
          <li><a href="/docs/cdktf/concepts/cdktf-architecture.html">Architecture</a></li>
          <li>
            <a href="/docs/cdktf/concepts/hcl-interoperability.html"
              >HCL Interoperability</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/providers-and-resources.html">Providers and Resources</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/modules.html">Modules</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/data-sources.html"
              >Data Sources</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/variables-and-outputs.html"
              >Variables and Outputs</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/functions.html">Functions</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/remote-backends.html"
              >Remote Backends</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/assets.html">Assets</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/tokens.html">Tokens</a>
          </li>
          <li>
            <a href="/docs/cdktf/concepts/stacks.html">Stacks</a>
          </li> 
          <li>
            <a href="/docs/cdktf/concepts/aspects.html">Aspects</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Create and Deploy</a>
        <ul class="nav">
          <li>
            <a href="/docs/cdktf/create-and-deploy/project-setup.html"
              >Project Setup</a
            >
          </li>
          <li>
            <a href="/docs/cdktf/create-and-deploy/configuration-file.html"
              >Configuration</a
            >
          </li>
          <li>
            <a href="/docs/cdktf/create-and-deploy/remote-templates.html"
              >Remote Templates</a
            >
          </li>
          <li>
            <a href="/docs/cdktf/create-and-deploy/aws-adapter.html"
              >AWS Adapter [preview]</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Test</a>
        <ul class="nav">
          <li><a href="/docs/cdktf/test/unit-tests.html">Unit Tests</a></li>
        </ul>
      </li>

      <li>
        <a href="#">CLI Reference</a>
        <ul class="nav">
          <li>
            <a href="/docs/cdktf/cli-reference/cli-configuration.html"
              >CLI Configuration</a
            >
          </li>
          <li>
            <a href="/docs/cdktf/cli-reference/commands.html">Commands</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/cdktf/examples.html">Examples</a>
      </li>

      <li>
        <a href="/docs/cdktf/community.html">Community</a>
      </li>

      <li>
      <a href="/docs/cdktf/telemetry.html">Telemetry</a>
      </li>

    </ul>


    <%= partial("layouts/otherdocs", :locals => { :skip => "CDK for Terraform" }) %>
  <% end %>
  <%= yield %>
<% end %>
