.jsii

*.js
!jest.config.js
!jest.setup.js
!test.js
*.d.ts
node_modules
!tools/build-example.js
!tools/lint-examples.js

# CDK asset staging directory
.cdk.staging
cdktf.out


**/.DS_Store
**/.gen
**/*.log
**/coverage
**/dist
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.d.ts.map

# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

bootstrap.json
terraform-cdk.github-issues
.idea
tsconfig.tsbuildinfo
examples/java/gradle-shared-module/.gradle/

.nx/
