.jsii

*.js
!jest.config.js
!test.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdktf.out

tsconfig.json

**/.DS_Store
**/.gen
**/*.log
**/coverage
**/dist
**/.terraform
**/*.tfstate
**/*.tfstate.backup
.vscode
bootstrap.json
terraform-cdk.github-issues
.idea