[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
cdktf = {path = "./../../../dist/python/cdktf-0.19.1.dev1700818458-py3-none-any.whl"}
