name: CDKTF Provider Docs Rollout
# You can find all open PRs under https://github.com/search?q=is%3Aopen+is%3Apr+user%3Ateam-tf-cdk+%22cdktf%3A+update+cdktf+docs%22&type=pullrequests

on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 0 * * 1 # Mondays at midnight

jobs:
  cdktfDocs:
    strategy:
      fail-fast: false
      matrix:
        provider:
          # To onboard new providers, add a new entry to this matrix and make sure the team-tf-cdk github user has write permissions to the repository.
          - repo: hashicorp/terraform-provider-archive
            fqn: "hashicorp/archive"
          # - repo: hashicorp/terraform-provider-aws
          #   fqn: "hashicorp/aws"
          - repo: hashicorp/terraform-provider-cloudinit
            fqn: "hashicorp/cloudinit"
          - repo: hashicorp/terraform-provider-dns
            fqn: "hashicorp/dns"
          - repo: hashicorp/terraform-provider-external
            fqn: "hashicorp/external"
          - repo: hashicorp/terraform-provider-http
            fqn: "hashicorp/http"
          - repo: hashicorp/terraform-provider-local
            fqn: "hashicorp/local"
          - repo: hashicorp/terraform-provider-null
            fqn: "hashicorp/null"
          - repo: hashicorp/terraform-provider-random
            fqn: "hashicorp/random"
          - repo: hashicorp/terraform-provider-tfe
            fqn: "hashicorp/tfe"
          - repo: hashicorp/terraform-provider-time
            fqn: "hashicorp/time"
          - repo: hashicorp/terraform-provider-tls
            fqn: "hashicorp/tls"
    uses: ./.github/workflows/registry-docs-pr-based.yml
    secrets:
      # This token belongs to the team-tf-cdk github user. The user needs to have write permissions to the repository.
      GH_PR_TOKEN: ${{ secrets.GH_TOKEN_CDKTF_PROVIDER_DOCUMENTATION }}
    with:
      repository: ${{ matrix.provider.repo }}
      providerFqn: ${{ matrix.provider.fqn }}
      languages: "typescript,python"
      parallelFileConversions: 1
      maxRunners: 20
      cdktfRegistryDocsVersion: "1.14.2"

  reportFailureToSlack:
    needs: cdktfDocs
    runs-on: ubuntu-latest
    if: failure()
    steps:
      - name: Send failures to Slack
        uses: slackapi/slack-github-action@e28cf165c92ffef168d23c5c9000cffc8a25e117
        with:
          payload: |
            {
              "run_url": "https://github.com/hashicorp/terraform-cdk/actions/runs/${{ github.run_id }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.REGISTRY_DOCS_FAILURE_SLACK_WEBHOOK_URL }}
