name: Release
on:
  push:
    branches:
      - main
      - backport-release-*
    paths:
      - "packages/**"
      - "tools/**"
      - "package.json"
      - "yarn.lock"

env:
  SENTRY_ORG: hashicorp
  SENTRY_PROJECT: cdktf-cli

concurrency:
  group: release

jobs:
  prepare-release:
    if: github.repository == 'hashicorp/terraform-cdk'
    runs-on: ubuntu-latest
    outputs:
      tests: ${{ steps.build-test-matrix.outputs.tests }}
      version: ${{ steps.get_version.outputs.version }}
      release_status: ${{ steps.get_release_status.outputs.release }}
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    env:
      CHECKPOINT_DISABLE: "1"
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0 # gives sentry access to all previous commits
      - name: version
        id: get_version
        run: |
          version=$(node -p "require('./package.json').version")
          echo "version=${version}" >> $GITHUB_OUTPUT
      - name: "Allow git access for Sentry CLI running in Docker" # https://github.com/actions/checkout/issues/760
        run: git config --global --add safe.directory /__w/terraform-cdk/terraform-cdk
      - name: release status
        id: get_release_status
        run: |
          status=$(sentry-cli releases list | grep 'cdktf-cli-${{ steps.get_version.outputs.version }} ' && echo 'released' || echo 'unreleased')
          echo "Sentry returned: ${status}"
          echo "release=$(echo $status | tr '\n' ' ')" >> $GITHUB_OUTPUT
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      - name: Create a release
        if: steps.get_release_status.outputs.release == 'unreleased'
        run: sentry-cli releases new cdktf-cli-${{ steps.get_version.outputs.version }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      - name: create bundle
        run: |
          yarn install
          tools/align-version.sh
          yarn build
          yarn package
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      - name: Add sourcemap and commit info to sentry
        if: steps.get_release_status.outputs.release == 'unreleased'
        run: |
          sentry-cli releases files cdktf-cli-${{ steps.get_version.outputs.version }} upload-sourcemaps ./packages/cdktf-cli/bundle
          sentry-cli releases set-commits --auto cdktf-cli-${{ steps.get_version.outputs.version }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      - name: Upload artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          name: dist
          path: dist
      - name: Upload edge-provider bindings
        uses: actions/upload-artifact@v3.1.1
        if: ${{ !inputs.skip_setup }}
        with:
          name: edge-provider-bindings
          path: packages/@cdktf/provider-generator/edge-provider-bindings

  integration_test:
    needs:
      - prepare-release
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    uses: ./.github/workflows/integration.yml
    with:
      skip_setup: true
      concurrency_group_prefix: release
    secrets: inherit

  examples:
    uses: ./.github/workflows/examples.yml
    with:
      concurrency_group_prefix: release
    secrets: inherit

  linting:
    uses: ./.github/workflows/linting.yml
    with:
      concurrency_group_prefix: release
    secrets: inherit

  unit_test:
    uses: ./.github/workflows/unit.yml
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    strategy:
      fail-fast: false
      matrix:
        package:
          [
            cdktf,
            cdktf-cli,
            "@cdktf/hcl2cdk",
            "@cdktf/hcl2json",
            "@cdktf/provider-generator",
            "@cdktf/commons",
            "@cdktf/cli-core",
          ]
        terraform_version: ["1.1.9", "1.2.8"]
    with:
      concurrency_group_prefix: release
      package: ${{ matrix.package }}
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  release_github:
    name: Release to Github
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    needs:
      - prepare-release
      - integration_test
      - unit_test
    runs-on: ubuntu-latest
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - uses: actions/checkout@v3.1.0
      - name: installing dependencies
        run: |
          yarn install
      - name: Download build artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: dist
      - name: Release to github
        run: yarn release-github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release_npm:
    name: Release to Github Packages NPM regitry
    needs:
      - prepare-release
      - integration_test
      - unit_test
    runs-on: ubuntu-latest
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: dist
      - name: Release
        run: npx -p jsii-release jsii-release-npm
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  release_pypi:
    name: Release to PyPi
    needs:
      - prepare-release
      - integration_test
      - unit_test
    runs-on: ubuntu-latest
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: dist
      - name: Release
        run: npx -p jsii-release jsii-release-pypi
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}

  release_maven:
    name: Release to Maven
    needs:
      - prepare-release
      - integration_test
      - unit_test
    runs-on: ubuntu-latest
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: dist
          path: dist
      - name: Release
        run: npx -p jsii-release jsii-release-maven
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          MAVEN_ENDPOINT: https://hashicorp.oss.sonatype.org
          MAVEN_GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          MAVEN_GPG_PRIVATE_KEY_PASSPHRASE: ${{ secrets.MAVEN_GPG_PRIVATE_KEY_PASSPHRASE }}
          MAVEN_STAGING_PROFILE_ID: ${{ secrets.MAVEN_STAGING_PROFILE_ID }}

  release_nuget:
    name: Release to NuGet
    needs:
      - prepare-release
      - integration_test
      - unit_test
    runs-on: ubuntu-latest
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - name: Download dist
        uses: actions/download-artifact@v3.0.1
        with:
          name: dist
          path: dist
      - name: Release
        run: npx -p jsii-release jsii-release-nuget
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

  release_golang:
    name: Release Go to Github Repo
    needs:
      - prepare-release
      - integration_test
      - unit_test
    runs-on: ubuntu-latest
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - name: Download dist
        uses: actions/download-artifact@v3.0.1
        with:
          name: dist
          path: dist
      - name: Release
        run: npx -p jsii-release jsii-release-golang
        env:
          GITHUB_TOKEN: ${{ secrets.TERRAFORM_CDK_GO_REPO_GITHUB_TOKEN }}
          GIT_USER_NAME: "CDK for Terraform Team"
          GIT_USER_EMAIL: "github-team-tf-cdk@hashicorp.com"

  release_sentry:
    name: Finalize the sentry release
    needs:
      - prepare-release
      - integration_test
      - unit_test
    runs-on: ubuntu-latest
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - uses: actions/checkout@v3.1.0
      - name: version
        id: get_version
        run: |
          version=$(node -p "require('./package.json').version")
          echo "version=${version}" >> $GITHUB_OUTPUT
      - name: release status
        id: get_release_status
        run: |
          status=$(sentry-cli releases list | grep 'cdktf-cli-${{ steps.get_version.outputs.version }} ' && echo 'released' || echo 'unreleased')
          echo "Sentry returned: ${status}"
          echo "release=$(echo $status | tr '\n' ' ')" >> $GITHUB_OUTPUT
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
      - name: Create a release
        if: steps.get_release_status.outputs.release == 'unreleased'
        run: sentry-cli releases finalize cdktf-cli-${{ steps.get_version.outputs.version }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}

  release_homebrew:
    name: Release to Homebrew
    if: jobs.prepare-release.outputs.release_status == 'unreleased'
    needs: release_npm
    runs-on: ubuntu-latest
    steps:
      # extract version number from package.json
      - uses: actions/checkout@v3.1.0
      - name: version
        id: get_version
        run: |
          version=$(node -p "require('./package.json').version")
          echo "version=${version}" >> $GITHUB_OUTPUT
      # A PR will be sent to github.com/Homebrew/homebrew-core to update this formula:
      - uses: mislav/bump-homebrew-formula-action@v2.1
        with:
          formula-name: cdktf
          download-url: https://registry.npmjs.org/cdktf-cli/-/cdktf-cli-${{ steps.get_version.outputs.version }}.tgz
          commit-message: cdktf ${{ steps.get_version.outputs.version }}
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_COMMITTER_TOKEN }}

  report:
    name: Report status
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs:
      - examples
      - integration_test
      - linting
      - prepare-release
      - release_github
      - release_golang
      - release_homebrew
      - release_maven
      - release_npm
      - release_nuget
      - release_pypi
      - release_sentry
      - unit_test
    steps:
      - name: Send failures to Slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "provider_name": "CDKTF",
              "run_url": "https://github.com/hashicorp/terraform-cdk/actions/runs/${{ github.run_id }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.FAILURE_SLACK_WEBHOOK_URL }}
