name: Release @next
on:
  push:
    branches:
      - master

jobs:
  release:
    if: github.repository == 'hashicorp/terraform-cdk'
    runs-on: ubuntu-latest
    container:
      image: hashicorp/jsii-terraform
    env:
      CHECKPOINT_DISABLE: "1"

    steps:
      - uses: actions/checkout@v2
      - name: installing dependencies
        run: |
          yarn install
      - run: tools/align-version.sh "-pre.${{ github.sha }}"
      - run: yarn build
      - run: yarn test
      - run: yarn package
      - run: yarn integration
        env:
          TERRAFORM_CLOUD_TOKEN: ${{ secrets.TERRAFORM_CLOUD_TOKEN }}
      - run: npx -p jsii-release jsii-release-npm
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_DIST_TAG: next