name: Release @next
on:
  push:
    branches:
      - master

jobs:
  build_artifact:
    if: github.repository == 'hashicorp/terraform-cdk'
    runs-on: ubuntu-latest
    container:
      image: hashicorp.jfrog.io/docker/hashicorp/jsii-terraform
    env:
      CHECKPOINT_DISABLE: "1"
    steps:
      - uses: actions/checkout@v2
      - name: installing dependencies
        run: yarn install
      - run: tools/align-version.sh "-pre.${{ github.run_number }}"
      - run: yarn build
      - run: yarn test
      - run: yarn package
      - run: yarn integration
        env:
          TERRAFORM_CLOUD_TOKEN: ${{ secrets.TERRAFORM_CLOUD_TOKEN }}
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: dist
          path: dist

  release_npm:
    name: Release to NPM
    needs: build_artifact
    runs-on: ubuntu-latest
    container:
      image: hashicorp.jfrog.io/docker/hashicorp/jsii-terraform
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v1
        with:
          name: dist
      - name: Release
        run: npx -p jsii-release jsii-release-npm
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_DIST_TAG: next

  release_pypi:
    name: Release to PyPi
    needs: build_artifact
    runs-on: ubuntu-latest
    container:
      image: hashicorp.jfrog.io/docker/hashicorp/jsii-terraform
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v1
        with:
          name: dist
      - name: Release
        run: npx -p jsii-release jsii-release-pypi
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}

  release_maven_github:
    name: Release to GitHub Maven
    needs: build_artifact
    runs-on: ubuntu-latest
    container:
      image: hashicorp.jfrog.io/docker/hashicorp/jsii-terraform
    steps:
      - name: Download dist
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - name: Release
        run: npx -p jsii-release jsii-release-maven
        env:
          MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_USERNAME: ${{ github.actor }}
          MAVEN_SERVER_ID: github
          MAVEN_REPOSITORY_URL: "https://maven.pkg.github.com/${{ github.repository }}"