name: Unit Test Run
on:
  workflow_call:
    inputs:
      concurrency_group_prefix:
        default: pr
        required: false
        type: string
      package:
        required: true
        type: string
      terraform_version:
        required: true
        type: string

concurrency:
  group: ${{ inputs.concurrency_group_prefix }}-unit-${{ inputs.package }}-${{ inputs.terraform_version }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on:
      - custom
      - linux
      - custom-linux-xl
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    env:
      CHECKPOINT_DISABLE: "1"
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - name: "Add Git safe.directory" # Go 1.18+ started embedding repo info in the build and e.g. building @cdktf/hcl2json fails without this
        run: git config --global --add safe.directory /__w/terraform-cdk/terraform-cdk
      - name: ensure correct user
        run: chown -R root /__w/terraform-cdk
      - name: Get yarn cache directory path
        id: global-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        id: global-cache # use this to check for `cache-hit` (`steps.global-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.global-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}-${{ inputs.terraform_version }}-${{ inputs.package }}
      - name: Create terraform plugin cache directory
        run: mkdir -p /__w/terraform-plugins
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        id: terraform-plugin-cache
        with:
          path: /__w/terraform-plugins
          key: ${{ runner.os }}-terraform-plugins-${{ inputs.terraform_version }}-${{ inputs.package }}
      - name: ensure all plugin directories exist
        run: |
          mkdir -p ${{ steps.global-cache-dir-path.outputs.dir }}/terraform-plugins
          mkdir -p ${{ steps.global-cache-dir-path.outputs.dir }}/go-cache
      - name: installing dependencies
        run: |
          yarn install --frozen-lockfile --prefer-offline
      - name: compile
        run: |
          tools/align-version.sh
          yarn build
          yarn package
        env:
          TERRAFORM_BINARY_NAME: "terraform${{ inputs.terraform_version }}"
          TF_PLUGIN_CACHE_DIR: /__w/terraform-plugins
          GOCACHE: ${{ steps.global-cache-dir-path.outputs.dir }}/go-cache
      - name: test
        run: |
          npx lerna run --scope '${{ inputs.package }}' test:ci
        env:
          CDKTF_LOG_LEVEL: "all"
          TERRAFORM_BINARY_NAME: "terraform${{ inputs.terraform_version }}"
          TF_PLUGIN_CACHE_DIR: /__w/terraform-plugins
          GOCACHE: ${{ steps.global-cache-dir-path.outputs.dir }}/go-cache
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        if: inputs.package == '@cdktf/hcl2cdk' && failure()
        with:
          name: hcl2cdk
          path: packages/@cdktf/hcl2cdk/
